.about-us {
    text-align: center;
    /* padding-left: 6rem;
    padding-right: 6rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about-us h4 {
    color: #54CDD4;
    /* font-size: 18px; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding-bottom: 1rem;
    font-weight: 600;
}

.about-us h2 {
    color: #1B9596;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding-bottom: 1rem;
    font-weight: 600;
}

.about-us p {
    color: rgb(26, 25, 25);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-left: 9rem;
    padding-right: 9rem; */
    line-height: 1.8rem;
}

.about-us-card {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    /* margin-left: 8rem;
    margin-right: 8rem; */
    margin-top: 3rem;
}

.about-us-card-1 {
    width: 20rem;
    background-color: white;
    border-radius: 1rem;
}

.about-us-card-1 h2 {
    color: #1B9596;
    background-color: white;
    font-size: 22px;
    font-weight: 700;
}

.about-us-card-1 p {
    font-size: 16px;
    color: rgb(26, 25, 25);
    background-color: white;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.about-us-icon {
    font-size: 4rem;
    color: #229ad6;
    margin-top: 1rem;
    margin-bottom: 1rem;
}