.Plant-Room {
    /* margin-left: 6rem;
    margin-right: 6rem; */
    display: flex;
}

.Plant-Room-content {
    /* width: 46%; */
    padding-top: 4rem;
    padding-bottom: 7rem;
}

.Plant-Room-content h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    color: #1B9596;
}

.Plant-Room-img {
    /* width: 54%; */
    text-align: center;
    padding-top: 5rem;
}

.Plant-Room-img img{
    /* height: 60%; */
    width: 100%;
    border-radius: 2rem;
}

.content-p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4rem;
    /* color: #4e4e4e; */
}

.Plant-Room-content button {
    height: 2.8rem;
    padding: 1rem;
    padding-top: 0.9rem;
    background-color: #1B9596;
    border: none;
    border-radius: 1rem;
    color: white;
    font-weight: 600;
    font-size: 14px;
}

.Plant-Room-check {
    display: flex;
}

.check-2 {
    margin-left: 2rem;
    font-size: 16px;
    color: #333333;
    font-weight: 700;
}

.check-1 {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.check-1 p{
    margin-right: 1rem;
}

.fa-circle-check {
    color: #1B9596;
}

.Plant-Room-img-last {
    height: 3.8rem;
    width: 30rem;
    background-color: #1B9596;
    margin-top: 2rem;
    border-radius: 0.4rem;
    padding-top: 1.2rem;
    color: white;
    font-size: 18px;
}


@media screen and (max-width:500px) {
    .Plant-Room-content h1{
        font-size: 40px;

    } 
    .Plant-Room-content{
        padding-top: 2rem;
    }
    .Plant-Room-content button{
height: 5rem;    }
    
}