.why-mregg {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 8rem;
    text-align: center;
    background-attachment: fixed;
}

.why-mregg-upper {
    /* width: 100%;
    padding-top: 2rem; */
}

.why-mregg-upper h1{
    color: #1B9596;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46px;
    margin-bottom: 2rem;
}

.why-mregg-upper p{
    color: rgb(26, 25, 25);
    font-size: 18px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.bold-details {
    font-weight: 600;
}

.text-details {
    /* padding-left: 4rem;
    padding-right: 4rem; */
}

.certificate {
    /* padding-left: 4rem;
    padding-right: 4rem; */
}

.certificate img {
  
}

@media screen and (max-width:500px) {
   .why-mregg-upper h1{
  font-size: 30px;
   }
    
   .why-mregg-upper p{
    color: rgb(26, 25, 25);
    font-size: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

}
.img-fluidd {
    max-width: 100%;
    height: auto;
}